<%- include("partials/header") -%>
<h1>Hello!</h1>
<h3>What do you want to do?</h3>

<h4><a href="./add">Add Passenger</a></h4>
<h4><a href="./token">Issue Token</a></h4>
<h4><a href="./delete">Delete Passenger</a></h4>
<h4><a href="./update">Update Passenger Details</a></h4>
<h4><a href="./view">View Passenger Details</a></h4>

<%- include("partials/footer") -%>